{% load staticfiles %}
<html>

    <head>
        <title>Portal de notícias em Python!</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 
        <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/news.css' %}">
    </head>

    <body>
        <div class="page-header">
            <h3><a href="{% url 'news.views.create_news' %}"  class="top-menu"><span class="btn btn-default">Criar Notícias</span></a></h3>
            <h3><a href="{% url 'news_draft_list' %}" class="top-menu"><span class="btn btn-default">Publicar Notícias</span></a></h3>
            <h3><a href="{% url 'create_user' %}" class="top-menu"><span class="btn btn-default">Criar Usuário</span></a></h3>
            <h3><a href="{% url 'user_login' %}" class="top-menu"><span class="btn btn-default">Entrar</span></a></h3>
            <h1><a href="{% url 'news.views.home' %}">Portal de Notícias feito em Python!</a></h1>
            <h2>{{page_name}}</h2>
            
        </div>

        {% block content %}
        {% endblock %}
        
    </body>

</html>