{% extends 'news/base.html' %}
<div class="content_container">
    <div class="row">
        <div class="col-md-3">
            {% block content %}
                {% for item in news %}
                    <div class = "news_on_home">
                        <h1><a href="{% url 'news.views.show_news' pk=item.pk %}">{{ item.title }}</a></h1>
                        <h3>{{item.caption}}</h3>
                        <div class="date">
                            Publicado em: {{ item.published_date }}
                        </div>
                    </div>
                {% endfor %}
            {% endblock content %}
        </div>
    </div>
</div>