{% extends 'news/base.html' %}
<div class="content_container">
    <div class="row">
        <div class="col-md-3">
            {% block content %}

            <div class = "news-default">
                <h1>Notícias Gerais!</h1>
                    {% for item in general_news %}
                        <h1><a href="{% url 'news.views.show_news' pk=item.pk %}">{{ item.title }}</a></h1>
                        <h3>{{item.caption}}</h3>
                        <div class="date">
                            Publicado em: {{ item.published_date }}
                        </div>
                        <a href="{% url 'news.views.show_news' pk=item.pk %}">Comentários: {{ item.comments.count }}</a>
                    {% endfor %}
             </div>

             <div class = "news-sport">
                <h1>Notícias de Esporte!</h1>
                {% for item in sport_news %}
                    <h1><a href="{% url 'news.views.show_news' pk=item.pk %}">{{ item.title }}</a></h1>
                    <h3>{{item.caption}}</h3>
                    <div class="date">
                        Publicado em: {{ item.published_date }}
                    </div>
                    <a href="{% url 'news.views.show_news' pk=item.pk %}">Comentários: {{ item.comments.count }}</a>
                {% endfor %}
            </div>

            <div class = "news-entertainment">
                <h1>Notícias de Entreterimento!</h1>
                {% for item in entertaiment_news %}
                    <h1><a href="{% url 'news.views.show_news' pk=item.pk %}">{{ item.title }}</a></h1>
                    <h3>{{item.caption}}</h3>
                    <div class="date">
                        Publicado em: {{ item.published_date }}
                    </div>
                    <a href="{% url 'news.views.show_news' pk=item.pk %}">Comentários: {{ item.comments.count }}</a>
                {% endfor %}
            </div>

            {% endblock content %}
        </div>
    </div>
</div>