{% extends 'news/base.html' %}
<div class="content_container">
    <div class="row">
        <div class="col-md-3">
            {% block content %}

            <div class = "notifications">
                <h1>Suas Notificações</h1>
                    {% for item in user_notifications %}
                        {{item.comment.author}} comentou em sua notícia!
                        <h3><a href="{% url 'news.views.show_news' pk=item.news.pk %}">{{ item.news.title }}</a></h1>
                        <br><br>
                    {% endfor %}
             </div>

             {% endblock content %}
        </div>
    </div>
</div>