{% extends 'news/base.html' %}

<div class="content_container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
                <div class="news">
                    {% if selected_news.published_date %}
                        <h2><a class="btn btn-default" href="{% url 'edit_news' pk=selected_news.pk %}">
                        Editar Noticia</a></h2>
                        <h1>{{selected_news.title}} </h1>
                        <h2>{{selected_news.caption}} </h2>

                        <p>{{selected_news.news_text|linebreaks}}</p>
                        
                        <div class="date">
                            {{selected_news.published_date}}
                        </div>
                    {% endif %}
                </div>

            {% endblock%}
        </div>
    </div>
</div>