{% extends 'news/base.html' %}

<div class="content_container">
    {% block content %}
        <div class="news">
            <div class="news-options">
                <a  href="{% url 'news.views.edit_news' pk=selected_news.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href="{% url 'news.views.remove_news' pk=selected_news.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
            </div>

            <h1>{{selected_news.title}} </h1>
            <h2>{{selected_news.caption}} </h2>

            <p>{{selected_news.news_text|linebreaks}}</p>
            
            {% if selected_news.published_date %}
            <div class="date">
                Publicada em: {{selected_news.published_date}}
                <br>
                Autor: {{selected_news.author}}
            </div>
            {% else %}
                <a class="btn btn-default" href="{% url 'news.views.publish_news' pk=selected_news.pk %}">Publicar a Notícia</a>
            {% endif %}
        </div>

    {% endblock%}
</div>