.page-header {
    background-color: #07117A;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
}

.page-header h2, .page-header h2 a:visited, .page-header h2 a:active {
    color: #A2A3A8;
    font-size: 24pt;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
}

.page-header h2 a {
    color:#4453F2;
    font-size: 12pt;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
}

.page-header h3 a {
    color:#4453F2;
    font-size: 12pt;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
}

.news-default h1, h1 a{
    color:#07117A;
    font-size: 32pt;
    font-family: 'Open Sans Condensed', sans-serif;
}

.news-default h3{
    font-size: 20pt;
    font-family: 'Open Sans Condensed', sans-serif;
}

.news h1, h1 a{
    color:#07117A;
    font-size: 40pt;
    font-family: 'Open Sans Condensed', sans-serif;
}

.news h2{
    color:#4453F2;
    font-size: 24pt;
    font-family: 'Open Sans Condensed', sans-serif;
}

.news h2 a{
    color:#4453F2;
    font-size: 12pt;
    font-family: 'Open Sans Condensed', sans-serif;
}

.news h3 a {
    color:#4453F2;
    font-size: 12pt;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
}

.news p{
    color:#000000;
    font-size: 18pt;
    font-family: 'Open Sans Condensed', sans-serif;
}

.news {
    margin-bottom: 70px;
}

.news-default {
    margin-bottom: 70px;
}

.news-options a{
    margin-right: 20px;
    float: right;
}

.create_news h1 {
    color:#000000;
    font-size: 40pt;
    font-family: 'Open Sans Condensed', sans-serif;

}

body {
    padding-left: 25px;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.news-form textarea, .news-form input {
    width: 100%;
}

.news-sport h1 a{
    color:#189602;
    font-size: 32pt;
    font-family: 'Open Sans Condensed', sans-serif;
}

.news-sport h3{
    font-size: 20pt;
    font-family: 'Open Sans Condensed', sans-serif;
}

.news-sport {
    margin-bottom: 70px;
}


.news-entertainment h1 a{
    color:#E8E51A;
    font-size: 32pt;
    font-family: 'Open Sans Condensed', sans-serif;
}

.news-entertainment h3{
    font-size: 20pt;
    font-family: 'Open Sans Condensed', sans-serif;
}

.news-entertainment {
    margin-bottom: 70px;
}

189602